package day{{ printf "%02d" .Day }}

import (
	"github.com/k-nox/advent-of-code-2024/util"
)

func Part{{ .Part }}(useSample bool) int {
	f := util.NewScannerForInput({{ .Day }}, useSample)
	defer f.Close()

	for f.Scan() {

	}
	
	return 0
}