package day{{ printf "%02d" .Day }}

import (
	"bufio"

	"github.com/k-nox/advent-of-code-solutions/parse"
)

func Part{{ .Part }}(useSample bool) int {
	f := parse.OpenInput({{ .Year }}, {{ .Day }}, useSample)
	defer f.Close()

	scanner := bufio.NewScanner(f)

	for scanner.Scan() {
	
	}

	return 0
}
